body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#phoneContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 325px;
    height: 650px;
    background-color: black;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
}

.input-field {
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#button-div {
    margin-top: 180px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 300px;
    position: absolute;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 75px;
    cursor: pointer;
    width: 75px;
    height: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 25px;
    text-align: center;
    margin-top: 320px;
}

#check-btn {
    background-color: #4CAF50;
    color: white;
}

#clear-btn {
    background-color: #f44336;
    color: white;
}

#results-div {
    margin-top: 20px;
    color: white;
    max-height: fit-content;
}